<div class="test py-3"></div>
<div class="container my_courses mb-4 py-4 p-0">
    <mat-toolbar class="my_title bg-white d-flex">
        <div class="live d-flex">
            <p class="cources m-0 p-3">Live Courses - Java</p>
            <p class="tutor m-0 p-3">Live Courses - Java<i class="fa fa-calendar pl-2" aria-hidden="true"></i></p>
        </div>
    </mat-toolbar>
    <div class="sub_content p-2 pt-1">
        <div class="content d-flex p-2">
            <p class="level mb-0">Level: Beginner/Experenced</p>
            <p class="from_class mb-0">Clasess from 02/12/2019 to16/12/2019</p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="live_chat d-flex  pt-3">
            <div class="col-md-6">
                <div class="main_conten d-flex">
                    <button class="user btn ">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </button>
                    <p class="teacher mb-0 ml-2">Ramakrishna</p>
                </div>
                <p class="mb-0 ml-2 pt-1 interactive">Live Interactive Video of Course</p>
                <div class="vedio vedio_content pt-4 pb-3">
                    <mat-video src="../../../assets//videos/videoplayback.mp4"></mat-video>
                </div>
                <div class="last pb-3 pt-3">
                    <button class="btn btn-default sav_course">SAVE THAIS COURSE</button>
                </div>
            </div>

            <div class="col-md-6">
                <p class="teacher mb-0 ml-2">Chat</p>
                <p class="mb-0 ml-2 pt-1 interactive">Discuss and Ask Doubts Here</p>
                <div class="chater pt-4">
                    <div class="card">
                        <div class="card-body my_scroll">
                            <div class="card chat_starts_my">
                                <div class="col-md-12 d-flex">
                                    <p class="chating mb-0">You must manually include the stylesheets include</p>
                                    <button class="chat_user btn ">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card chat_starts_my">
                                <div class="col-md-12 d-flex">
                                    <p class="chating mb-0">You must manually include the stylesheets include</p>
                                    <button class="chat_user btn ">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-12 d-flex pt-3">
                                <div class="tutor_replay">
                                    <p class="chating mb-0">You must manually include the stylesheets include</p>
                                </div>
                            </div>
                            <div class="col-md-12 d-flex">
                                <div class="tutor_replay">
                                    <p class="chating mb-0">You must manually include the stylesheets include</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card pt-4 pb-4 pr-5 pl-5">
                    <input type="email" class="form-control time_line" aria-describedby="emailHelp"
                        placeholder="Enter email">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="test py-3"></div>
<div class="container my_courses mb-4 py-4 p-0">
    <mat-toolbar class="my_title bg-white d-flex">
        <div class="live d-flex">
            <p class="cources_sub m-0 p-3">Live Courses - Java</p>
        </div>
    </mat-toolbar>
    <div class="my_saved p-1">
        <div class="col-md-12 d-flex pt-4 all_saved pb-3">
            <div class="col-md-2">
                <p class="svaed_date mb-0">02/12/2019</p>
            </div>
            <div class="col-md-5">
              <p class="saved_course mb-0">Machine Learning/Deep Learning</p>
              <p class="version mb-0">Standard Version</p>
            </div>
            <div class="col-md-2">
               <p class="duration_hours mb-0">01 Hours Duration</p>
            </div>
            <div class="col-md-3">
                <button class="btn btn-default mb-0 play_record">PLAY RECORDING</button>
            </div>
        </div>
    </div>
    <div class="records_content">
    <div class="my_saved p-1">
            <div class="col-md-12 d-flex pt-4 all_saved pb-3">
                <div class="col-md-2">
                    <p class="svaed_date mb-0">02/12/2019</p>
                </div>
                <div class="col-md-5">
                  <p class="saved_course mb-0">Machine Learning/Deep Learning</p>
                  <p class="version mb-0">Standard Version</p>
                </div>
                <div class="col-md-2">
                   <p class="duration_hours mb-0">01 Hours Duration</p>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-default mb-0 play_record">PLAY RECORDING</button>
                </div>
            </div>
        </div>
    </div>
        <div class="records_content">
                <div class="my_saved p-1">
                        <div class="col-md-12 d-flex pt-4 all_saved pb-3">
                            <div class="col-md-2">
                                <p class="svaed_date mb-0">02/12/2019</p>
                            </div>
                            <div class="col-md-5">
                              <p class="saved_course mb-0">Machine Learning/Deep Learning</p>
                              <p class="version mb-0">Standard Version</p>
                            </div>
                            <div class="col-md-2">
                               <p class="duration_hours mb-0">01 Hours Duration</p>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-default mb-0 play_record">PLAY RECORDING</button>
                            </div>
                        </div>
                    </div>
        </div>
</div>