<div class="test py-3"></div>
<div class="container my_courses mb-4 py-4 p-0">
    <mat-toolbar class="my_title bg-white">
        <p class="cources m-0 p-3">Courses</p>
    </mat-toolbar>
    <div class="card">
        <div class="col-md-12 d-flex cources_border pb-4">
            <div class="col-md-4 pt-4">
                <p class="head_title mb-1">Machine Learning/Deep Learning</p>
                <p class="stage_of_level">Level Begginer/Experienced</p>
                <p class="representer">By : Ramakrashna Reddy</p>
                <p class="from_class">Class from 02/12/2019 to 16/12/2019</p>
                <div class="botom_set d-flex">
                        <button class="btn btn-default view_buttons">VIEW DETAILS</button>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-md-4 pt-4">
                <p class="head_title mb-1">NLP</p>
                <p class="stage_of_level">Level Begginer/Experienced</p>
                <p class="representer">By : Ramakrashna Reddy</p>
                <p class="from_class">Class from 02/12/2019 to 16/12/2019</p>
                <div class="botom_set d-flex">
                        <button class="btn btn-default view_buttons">VIEW DETAILS</button>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-md-4 pt-4">
                <p class="head_title mb-1">PYTHON</p>
                <p class="stage_of_level">Level Begginer/Experienced</p>
                <p class="representer">By : Ramakrashna Reddy</p>
                <p class="from_class">Class from 02/12/2019 to 16/12/2019</p>
                <div class="botom_set d-flex">
                        <button class="btn btn-default view_buttons">VIEW DETAILS</button>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="col-md-12 d-flex cources_border pb-4">
            <div class="col-md-4 pt-4">
                <p class="head_title mb-1">React Js/React Ntive</p>
                <p class="stage_of_level">Level Begginer/Experienced</p>
                <p class="representer">By : Ramakrashna Reddy</p>
                <p class="from_class">Class from 02/12/2019 to 16/12/2019</p>
                <div class="botom_set d-flex">
                        <button class="btn btn-default view_buttons">VIEW DETAILS</button>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-md-4 pt-4">
                <p class="head_title mb-1">Information Security</p>
                <p class="stage_of_level">Level Experienced</p>
                <p class="representer">By : Ramakrashna Reddy</p>
                <p class="from_class">Class from 02/12/2019 to 16/12/2019</p>
                <div class="botom_set d-flex">
                        <button class="btn btn-default view_buttons">VIEW DETAILS</button>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-md-4 pt-4">
                <p class="head_title mb-1">Big Data/Spark/Python/AWS</p>
                <p class="stage_of_level">Level Begginer/Experienced</p>
                <p class="representer">By : Ramakrashna Reddy</p>
                <p class="from_class">Class from 02/12/2019 to 16/12/2019</p>
                <div class="botom_set d-flex">
                        <button class="btn btn-default view_buttons">VIEW DETAILS</button>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="col-md-12 d-flex cources_border pb-4">
            <div class="col-md-4 pt-4">
                <p class="head_title mb-1">Cyber Security</p>
                <p class="stage_of_level">Level Experienced</p>
                <p class="representer">By : Ramakrashna Reddy</p>
                <p class="from_class">Class from 02/12/2019 to 16/12/2019</p>
                <div class="botom_set d-flex">
                        <button class="btn btn-default view_buttons">VIEW DETAILS</button>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-md-4 pt-4">
                <p class="head_title mb-1">Virtual Reality</p>
                <p class="stage_of_level">Level /Experienced</p>
                <p class="representer">By : Ramakrashna Reddy</p>
                <p class="from_class">Class from 02/12/2019 to 16/12/2019</p>
                <div class="botom_set d-flex">
                        <button class="btn btn-default view_buttons">VIEW DETAILS</button>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-md-4 pt-4">
                <p class="head_title mb-1">Angular/Raect JS/Full Stack</p>
                <p class="stage_of_level">Level Begginer/Experienced</p>
                <p class="representer">By : Ramakrashna Reddy</p>
                <p class="from_class">Class from 02/12/2019 to 16/12/2019</p>
                <div class="botom_set d-flex">
                        <button class="btn btn-default view_buttons">VIEW DETAILS</button>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>