<div class="test py-3"></div>
<div class="container my_courses mb-4 py-4 p-0">
    <mat-toolbar class="my_title bg-white">
        <p class="cources m-0 p-3">My Courses</p>
    </mat-toolbar>
    <div class="col-md-12 d-flex">
        <div class="col-md-7">
            <p class="m-0 mt-3 learning">Machine Learning/Deep Learning</p>
            <p class="m-0 teacher">By : Ramakrishna Reddy</p>
            <div class="pro_dots d-flex pt-5">
                <div class="contents pl-0">
                        <span class="dot bg-white">
                                <svg height="30" width="30">
                                    <circle cx="11.8" cy="11.5" r="7" fill="#3293e5" />
                                </svg>
                            </span>
                    <span class="my_line"></span>
                </div>
                <div class="contents">
                        <span class="dot bg-white">
                                <svg height="30" width="30">
                                    <circle cx="11.8" cy="11.5" r="7" fill="#3293e5" />
                                </svg>
                            </span>
                    <span class="my_line"></span>
                </div>
                <div class="contents">
                        <span class="dot bg-white">
                                <svg height="30" width="30">
                                    <circle cx="11.8" cy="11.5" r="7" fill="#3293e5" />
                                </svg>
                            </span>
                    <span class="my_line"></span>
                </div>
                <div class="contents">
                        <span class="dot bg-white">
                                <svg height="30" width="30">
                                    <circle cx="11.8" cy="11.5" r="7" fill="#3293e5" />
                                </svg>
                            </span>
                    <span class="my_line"></span>
                </div>
                <div class="contents">
                    <span class="dot bg-white">
                        <svg height="30" width="30">
                            <circle cx="11.8" cy="11.5" r="7" fill="#3293e5" />
                        </svg>
                    </span>
                    <span class="my_line"></span>
                </div>
                <div class="contents">
                    <span class="dot bg-white"><svg height="30" width="30">
                            <circle cx="11.8" cy="11.5" r="7" fill="#3293e5" />
                        </svg></span>
                    <span class="my_line"></span>
                </div>
                <div class="contents">
                    <span class="dot bg-white"><svg height="30" width="30">
                            <circle cx="11.8" cy="11.5" r="7" fill="#3293e5" />
                        </svg></span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my_clasess">
                <p class="mt-4 px-0 text-muted classDates">Class from 02/12/2019 to 16/12/2019</p>
                <button class="btn btn-success btn-sm rounded_btn float-right">START CLASS</button>
            </div>
        </div>
        <div class="col-md-2">
            <div class="duration">
                <p class="mt-4 text-muted classDates">Duration 10 Hrs </p>
                <div class="btn btn-outline-primary rounded_btn btn-sm">VIEW DETAILS</div>
            </div>
        </div>
    </div>
    <div class="col-md-12 Machine d-flex">
            <div class="col-md-7">
                <p class="m-0 mt-3 learning">Information Security</p>
                <p class="m-0 teacher">By : Ramakrishna Reddy</p>
                <div class="pro_dots d-flex pt-5">
                    <div class="contents pl-0">
                            <span class="dot bg-white">
                                    <svg height="30" width="30">
                                        <circle cx="11.8" cy="11.5" r="7" fill="#3293e5" />
                                    </svg>
                                </span>
                        <span class="my_line"></span>
                    </div>
                    <div class="contents">
                            <span class="dot bg-white">
                                    <svg height="30" width="30">
                                        <circle cx="11.8" cy="11.5" r="7" fill="#3293e5" />
                                    </svg>
                                </span>
                        <span class="my_line"></span>
                    </div>
                    <div class="contents">
                            <span class="dot bg-white">
                                    <svg height="30" width="30">
                                        <circle cx="11.8" cy="11.5" r="7" fill="#3293e5" />
                                    </svg>
                                </span>
                        <span class="my_line"></span>
                    </div>
                    <div class="contents">
                            <span class="dot bg-white">
                                    <svg height="30" width="30">
                                        <circle cx="11.8" cy="11.5" r="7" fill="#3293e5" />
                                    </svg>
                                </span>
                        <span class="my_line"></span>
                    </div>
                    <div class="contents">
                        <span class="dot bg-white">
                            <svg height="30" width="30">
                                <circle cx="11.8" cy="11.5" r="7" fill="#3293e5" />
                            </svg>
                        </span>
                        <span class="my_line"></span>
                    </div>
                    <div class="contents">
                        <span class="dot bg-white"><svg height="30" width="30">
                                <circle cx="11.8" cy="11.5" r="7" fill="#3293e5" />
                            </svg></span>
                        <span class="my_line"></span>
                    </div>
                    <div class="contents">
                        <span class="dot bg-white"><svg height="30" width="30">
                                <circle cx="11.8" cy="11.5" r="7" fill="#3293e5" />
                            </svg></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="my_clasess">
                    <p class="mt-4 px-0 text-muted classDates">Class from 02/12/2019 to 16/12/2019</p>
                    <button class="btn btn-success btn-sm rounded_btn float-right">START CLASS</button>
                </div>
            </div>
            <div class="col-md-2">
                <div class="duration">
                    <p class="mt-4 text-muted classDates">Duration 10 Hrs </p>
                    <div class="btn btn-outline-primary rounded_btn btn-sm">VIEW DETAILS</div>
                </div>
            </div>
        </div>
        <div class="col-md-12 Machine d-flex">
                <div class="col-md-7">
                    <p class="m-0 mt-3 learning">Vertual Reality</p>
                    <p class="m-0 teacher">By : Alex Mathews</p>
                    <div class="pro_dots d-flex pt-5">
                        <div class="contents pl-0">
                                <span class="dot bg-white">
                                        <svg height="30" width="30">
                                            <circle cx="11.8" cy="11.5" r="7" fill="#3293e5" />
                                        </svg>
                                    </span>
                            <span class="my_line"></span>
                        </div>
                        <div class="contents">
                                <span class="dot bg-white">
                                        <svg height="30" width="30">
                                            <circle cx="11.8" cy="11.5" r="7" fill="#3293e5" />
                                        </svg>
                                    </span>
                            <span class="my_line"></span>
                        </div>
                        <div class="contents">
                                <span class="dot bg-white">
                                        <svg height="30" width="30">
                                            <circle cx="11.8" cy="11.5" r="7" fill="#3293e5" />
                                        </svg>
                                    </span>
                            <span class="my_line"></span>
                        </div>
                        <div class="contents">
                                <span class="dot bg-white">
                                        <svg height="30" width="30">
                                            <circle cx="11.8" cy="11.5" r="7" fill="#3293e5" />
                                        </svg>
                                    </span>
                            <span class="my_line"></span>
                        </div>
                        <div class="contents">
                            <span class="dot bg-white">
                                <svg height="30" width="30">
                                    <circle cx="11.8" cy="11.5" r="7" fill="#3293e5" />
                                </svg>
                            </span>
                            <span class="my_line"></span>
                        </div>
                        <div class="contents">
                            <span class="dot bg-white"><svg height="30" width="30">
                                    <circle cx="11.8" cy="11.5" r="7" fill="#3293e5" />
                                </svg></span>
                            <span class="my_line"></span>
                        </div>
                        <div class="contents">
                            <span class="dot bg-white"><svg height="30" width="30">
                                    <circle cx="11.8" cy="11.5" r="7" fill="#3293e5" />
                                </svg></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my_clasess">
                        <p class="mt-4 px-0 text-muted classDates">Class from 02/12/2019 to 16/12/2019</p>
                        <button class="btn btn-success btn-sm rounded_btn float-right">START CLASS</button>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="duration">
                        <p class="mt-4 text-muted classDates">Duration 10 Hrs </p>
                        <div class="btn btn-outline-primary rounded_btn btn-sm">VIEW DETAILS</div>
                    </div>
                </div>
            </div>

</div>