<div class="test py-3"></div>
<div class="container my_courses mb-4 py-4 p-0">
    <mat-toolbar class="my_title bg-white">
        <p class="cources m-0 p-3">Student Dashboard</p>
    </mat-toolbar>
    <div class="col-md-12 d-flex">
        <div class="col-md-4 p-0 pl-0 pr-1">
            <div class="my_card pt-3">
                <div class="card">
                    <div class="card-body pr-3">
                        <h5 class="card-title">Machine Learning / Deep Learning</h5>
                        <div class="iems_alined">
                            <div class="rating d-flex">
                                <div class="course_tag">
                                    <div class="btn my_subject">10</div>
                                </div>
                                <div class="course_tag">
                                    <div class="btn my_hrs">Hrs</div>
                                </div>
                            </div>
                            <div class="rating d-flex">
                                <div class="course_tag">
                                    <button class="btn btn-default start_content">START CLASS</button>
                                </div>
                            </div>
                        </div>
                        <div class="tutor d-flex">
                            <div class="duration">
                                <p class="conetn_name mb-2">By Ramakrishna Reddy</p>
                                <p class="conetn_name m-0">Remining 6 Hours</p>
                            </div>
                            <div class="remin_time">
                                <button class="btn btn-default view_course">VIEW DETAILS</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-0 pl-2 pr-2">
            <div class="my_card pt-3">
                <div class="card">
                    <div class="card-body pr-3">
                        <h5 class="card-title">Angular JS</h5>
                        <div class="iems_alined">
                            <div class="rating d-flex">
                                <div class="course_tag">
                                    <div class="btn my_subject">10</div>
                                </div>
                                <div class="course_tag">
                                    <div class="btn my_hrs">Hrs</div>
                                </div>
                            </div>
                            <div class="rating d-flex">
                                <div class="course_tag pr-4">
                                    <button class="btn btn-default start_content">00:00:00</button>
                                </div>
                            </div>
                        </div>
                        <div class="tutor d-flex">
                            <div class="duration">
                                <p class="conetn_name mb-2">By Ramakrishna Reddy</p>
                                <p class="conetn_name m-0">Remining 6 Hours</p>
                            </div>
                            <div class="remin_time">
                                <button class="btn btn-default view_course">VIEW DETAILS</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-0 pl-2 pr-2">
            <div class="my_card pt-3">
                <div class="card">
                    <div class="card-body pr-3">
                        <h5 class="card-title">Java</h5>
                        <div class="iems_alined">
                            <div class="rating d-flex">
                                <div class="course_tag">
                                    <div class="btn my_subject">10</div>
                                </div>
                                <div class="course_tag">
                                    <div class="btn my_hrs">Hrs</div>
                                </div>
                            </div>
                            <div class="rating d-flex">
                                <div class="course_tag pr-4">
                                    <button class="btn btn-default start_content">00:00:00</button>
                                </div>
                            </div>
                        </div>
                        <div class="tutor d-flex">
                            <div class="duration">
                                <p class="conetn_name mb-2">By Ramakrishna Reddy</p>
                                <p class="conetn_name m-0">Remining 6 Hours</p>
                            </div>
                            <div class="remin_time">
                                <button class="btn btn-default view_course">VIEW DETAILS</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-4 pt-3 p-0">
        <mat-toolbar class="my_title bg-white">
            <p class="cources m-0 p-3">Purchase New Course</p>
        </mat-toolbar>
        <div class="col-md-12">
            <div class="cnsintaencs  d-flex">
                <div class="col-md-4 pt-3">
                    <mat-form-field class="add_boder">
                        <mat-label>course /Angular JS</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let Course of Courses" [value]="Course.value">
                                {{Course.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4 pt-3">
                    <mat-form-field class="add_boder">
                        <mat-label>course /Angular JS</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let Course of Courses" [value]="Course.value">
                                {{Course.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2 pt-3">
                    <div class="remin_time">
                        <button class="btn btn-default view_course">VIEW DETAILS</button>
                    </div>
                </div>
                <div class="col-md-2 pt-3">
                    <div class="course_tag">
                        <button class="btn btn-default start_content">BUY NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-4 py-2 p-0">
        <div class="col-md-12 d-flex pt-3">
            <div class="col-md-6">
                <p class="payment_title m-0">Payment Summary</p>
                <div class="condidate_summury d-flex pb-3">
                    <div class="col-md-8">
                        <p class="learning mb-1">Machine Learning / Deep Learning</p>
                        <p class="duration_tit mb-0">Duration: 10 Hrs</p>
                        <p class="duration_tit">Class 02/02/2019 to 16/12/2019</p>
                        <p class="mb-0 banking">Mode: NetBanking /20/12/2019</p>
                    </div>
                    <div class="col-md-4">
                        <p class="rate pt-4 pb-4">Rs 2500/-</p>
                        <button class="btn btn-default paid_button">PAID</button>
                    </div>
                </div>
                <div class="condidate_summury d-flex pb-3">
                    <div class="col-md-8">
                        <p class="learning mb-1">Machine Learning / Deep Learning</p>
                        <p class="duration_tit mb-0">Duration: 10 Hrs</p>
                        <p class="duration_tit">Class 02/02/2019 to 16/12/2019</p>
                        <p class="mb-0 banking">Mode: NetBanking /20/12/2019</p>
                    </div>
                    <div class="col-md-4">
                        <p class="rate pt-4 pb-4">Rs 2500/-</p>
                        <button class="btn btn-default paid_button">PAID</button>
                    </div>
                </div>
                <div class="condidate d-flex pb-3">
                    <div class="col-md-8">
                        <p class="learning mb-1">Machine Learning / Deep Learning</p>
                        <p class="duration_tit mb-0">Duration: 10 Hrs</p>
                        <p class="duration_tit">Class 02/02/2019 to 16/12/2019</p>
                        <p class="mb-0 banking">Mode: NetBanking /20/12/2019</p>
                    </div>
                    <div class="col-md-4">
                        <p class="rate pt-4 pb-4">Rs 2500/-</p>
                        <button class="btn btn-default paid_button">PAID</button>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="sub_title d-flex">
                    <div class="col-md-6">
                        <p class="timetable m-0 pb-3">Course Timetable</p>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="submit_tag">
                            <mat-label>course /Angular JS</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let Course of Courses" [value]="Course.value">
                                    {{Course.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="col-md-6 pl-0 pt-2">
                        <div id="calendar">
                            <div id="calendar_header">
                                <div class="arrow">
                                    <mat-icon (click)="goToLastMonth()">arrow_back</mat-icon>
                                </div>
                                <div class="title">
                                    {{currentMonth}} - {{currentYear}}
                                </div>
                                <div class="arrow">
                                    <mat-icon (click)="goToNextMonth()">arrow_forward</mat-icon>
                                </div>
                            </div>
                            <div id="calendar_weekdays">
                                <div *ngFor="let day of dayNames" class="calendar_weekday">{{day}}</div>
                            </div>
                            <div id="calendar_content">
                                <!-- <div *ngFor="let dayItem of daysInLastMonth">
                                                <div class="week-date disabled">
                                                    <span class="date-text">{{dayItem.day}}</span>
                                                </div>
                                            </div> -->
                                <div *ngFor="let dayItem of daysInThisMonth">
                                    <div class="week-date enabled" [ngClass]="{'selected' : dayItem.hasEvent }"
                                        (click)="selectDate(dayItem)">
                                        <span class="date-text">{{dayItem.day}}</span>
                                    </div>
                                </div>
                                <!-- <div *ngFor="let dayItem of daysInNextMonth">
                                          <div class="week-date disabled">
                                           <span class="date-text">{{dayItem.day}}</span>
                                        </div>
                              </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pt-2">
                        <div class="cneection_plane pl-3 pb-2 pt-2">
                            <p class="title_course mb-1">Angular JS</p>
                            <p class="chapter mb-1">Chapter 1</p>
                            <p class="slot_time mb-2">Time: 02:35 PM</p>
                        </div>
                        <div class="cneection_plane pl-3 pt-3 pb-1">
                            <p class="title_course mb-1">Angular JS</p>
                            <p class="chapter mb-1">Chapter 1</p>
                            <p class="slot_time mb-2">Time: 02:35 PM</p>
                        </div>
                        <div class="cneection_plane pl-3 pt-4">
                            <p class="title_course mb-1">Angular JS</p>
                            <p class="chapter mb-1">Chapter 1</p>
                            <p class="slot_time mb-2">Time: 02:35 PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-4 p-0">
        <p class="profile m-0 p-3">Student Profile</p>
        <div class="col-md-12">
            <div class="user_form d-flex">
                <div class="col-md-6">
                    <form>
                        <div class="form-group">
                            <label for="exampleInput">Name</label>
                            <input type="email" class="form-control" 
                                aria-describedby="emailHelp" placeholder="Enter Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInput">E-mail</label>
                            <input type="text" class="form-control" 
                                placeholder="Enter Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInpu">Password</label>
                            <input type="password" class="form-control" 
                                placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInput">Phone</label>
                            <input type="mobile" class="form-control" 
                                placeholder="Enter Phone Number">
                        </div>
                        <div class="form-group">
                            <label for="exampleInput">Address</label>
                            <input type="Address" class="form-control" 
                                placeholder="Enter Address">
                        </div>
                        <div class="form-group">
                            <label for="exampleInput">Location</label>
                            <input type="Locatin" class="form-control" 
                                placeholder="Enter Location">
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <form>
                        <div class="form-group">
                            <label for="exampleInput">Add Credit Card</label>
                            <input type="email" class="form-control" 
                                aria-describedby="emailHelp" placeholder="Enter Card">
                        </div>
                        <div class="form-group">
                            <label for="exampleInput">Credit Card Number</label>
                            <input type="text" class="form-control" 
                                placeholder="Enter Card Number">
                        </div>
                        <div class="payments_item d-flex">
                                <div class="col-md-5 p-0 pr-2">
                                        <div class="form-group">
                                                <label for="exampleInput">Expiry From Date</label>
                                                <input type="text" class="form-control" 
                                                    placeholder="02/12/2019">
                                            </div>
                                </div>
                                <div class="col-md-4 p-0 pr-2">
                                        <div class="form-group">
                                                <label for="exampleInput">Expiry To Date</label>
                                                <input type="text" class="form-control" 
                                                    placeholder="02/12/2019">
                                            </div>
                                </div>
                                <div class="col-md-3 p-0">
                                        <div class="form-group">
                                                <label for="exampleInput">CVV</label>
                                                <input type="text" class="form-control" 
                                                    placeholder="Enter CVV">
                                            </div>
                                </div>
                        </div>
                    
                        <!-- <div class="form-group">
                            <label for="exampleInput">Password</label>
                            <input type="text" class="form-control" 
                                placeholder="Password">
                        </div> -->
                        <div class="form-group">
                            <label for="exampleInput">Add Bank</label>
                            <input type="text" class="form-control" 
                                placeholder="Enter Bank Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInput">A/C Number</label>
                            <input type="text" class="form-control" 
                                placeholder="Enter A/C Number">
                        </div>
                        <div class="form-group">
                            <label for="exampleInput">IFSC Code</label>
                            <input type="text" class="form-control" 
                                placeholder="Enter IFSC Code">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>