body{
    margin-left: 120px !important;
    margin-right: 120px !important;
    background-color:#f8f8f8 !important ;
}
.videoCard{
    border: 1px solid #cedce9 !important;
    border-radius: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.imgVideo{
    height: 255px !important;
}
.cardBorder{
    border: 1px solid #cbcbcb;
}
.text{
    color:  #3ea1f4 !important;
}
.arrowBtn{
    border: 1px solid #e1e1e1 !important;
}
.buttons{
    border-radius: 50px !important;
}
#chkPrimary{
    font-size: 100px !important;
}
.selectCourses{
    background-color:#f8f8f8 !important ;
}
input[type=radio] {
    border: 0px;
    width: 10%;
    height: 2em;
    padding: 0;
}
.selectCourses{
    border-bottom: 1px solid #e1e1e1 ;
}