<div class="test py-3"></div>
<div class="container my_courses mb-4 py-4 p-0">
    <div class="card-body">
        <h4 class="card-title textTitle mb-3 font-weight-bold bottomMargin">Student Registartion</h4>
        <hr class="my-3">
        <form [formGroup]="StudentregisterForm" (ngSubmit)="onSubmit()" class="Form">
            <div class="row m-5">
                <div class="col-md-6 px-5">
                    <div class=" -sm ">
                        <label for="name" class="control-label text  font-weight-bold">Name</label>
                        <input type="text" formControlName="name" class="form-control formBorder p-4"
                            placeholder="John Smith" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class=" -sm">
                        <label for="email" class="control-label text  font-weight-bold">Email</label>
                        <input type="email" class="form-control p-4 formBorder form-control" id="email"
                            placeholder="Email" formControlName="email"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required"> email id is required</div>
                        </div>
                    </div>
                    <div class=" -sm">
                        <label for="password" class="control-label text  font-weight-bold">Password</label>
                        <input type="password" class="form-control p-4 formBorder form-control" id="password"
                            formControlName="password" placeholder="*******"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">password is required</div>
                        </div>
                    </div>
                    <div class=" -sm">
                        <label for="phone" class="control-label text  font-weight-bold">Phone</label>
                        <input type="number" class="form-control p-4 formBorder form-control" id="phone"
                            placeholder="+91-8877-776655" formControlName="phone"
                            [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                            <div *ngIf="f.phone.errors.required">Phone Number is required</div>
                        </div>
                    </div>
                    <div class=" -sm">
                        <label for="address" class="control-label text  font-weight-bold">Address</label>
                        <input type="text" class="form-control p-4 formBorder form-control" id="address"
                            formControlName="address" placeholder="42-999-A, Hyderabad"
                            [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                            <div *ngIf="f.address.errors.required">Address is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 px-5">
                    <div class=" -sm ">
                        <label for="creditcard" class="control-label text  font-weight-bold">Add Credit Card</label>
                        <input type="text" class="form-control  formBorder p-4 form-control" id="creditcard"
                            placeholder="Master Card" formControlName="creditcard"
                            [ngClass]="{ 'is-invalid': submitted && f.creditcard.errors }">
                        <div *ngIf="submitted && f.creditcard.errors" class="invalid-feedback">
                            <div *ngIf="f.creditcard.errors.required">Credit Card Number is required</div>
                        </div>
                    </div>
                    <div class=" -sm">
                        <label for="expiryfrom" class="control-label text  font-weight-bold">Expiry From Date</label>
                        <input type="text" class="form-control py-4 px-2 formBorder form-control"
                            placeholder="12/12/2019" formControlName="expirydatefrom"
                            [ngClass]="{ 'is-invalid': submitted && f.expirydatefrom.errors }">
                        <div *ngIf="submitted && f.expirydatefrom.errors" class="invalid-feedback">
                            <div *ngIf="f.expirydatefrom.errors.required">Expire Freom date is required</div>
                        </div>
                    </div>
                    <div class=" -sm">
                        <label for="expiryfrom" class="control-label text  font-weight-bold">Expiry To Date</label>
                        <input type="text" class="form-control py-4 px-2 formBorder form-control"
                            placeholder="12/12/2019" formControlName="expirydateto"
                            [ngClass]="{ 'is-invalid': submitted && f.expirydateto.errors }">
                        <div *ngIf="submitted && f.expirydateto.errors" class="invalid-feedback">
                            <div *ngIf="f.expirydateto.errors.required">Expire To Date is required</div>
                        </div>
                    </div>
                    <div class=" -sm">
                        <label for="expiryfrom" class="control-label text  font-weight-bold">CVV</label>
                        <input type="text" class="form-control py-4 px-2 formBorder form-control" placeholder="***"
                            formControlName="expirydateto"
                            [ngClass]="{ 'is-invalid': submitted && f.expirydateto.errors }">
                        <div *ngIf="submitted && f.expirydateto.errors" class="invalid-feedback">
                            <div *ngIf="f.expirydateto.errors.required">CVV is required</div>
                        </div>
                    </div>
                    <div class=" -sm">
                        <label for="expiryfrom" class="control-label text  font-weight-bold">Add Bank</label>
                        <input type="text" class="form-control py-4 px-2 formBorder form-control"
                            placeholder="ICICI bank" formControlName="expirydateto"
                            [ngClass]="{ 'is-invalid': submitted && f.expirydateto.errors }">
                        <div *ngIf="submitted && f.expirydateto.errors" class="invalid-feedback">
                            <div *ngIf="f.expirydateto.errors.required">Bank Name is required</div>
                        </div>
                    </div>
                </div>
                <button class="btn text-white btn-lg buttons mt-3 px-4 py-2 mx-auto" matTooltip="Please fill the form"
                    matTooltipClass="example-tooltip-red" [disabled]="StudentregisterForm.valid"
                    type="submit">REGISTER</button>
            </div>
        </form>
    </div>
</div>


<!-- google button -->

<!-- <div class="abcRioButtonContentWrapper d-flex">
        <div class="abcRioButtonIcon" style="padding:8px">
            <div style="width:18px;height:18px;"
                class="abcRioButtonSvgImageWithFallback abcRioButtonIconImage abcRioButtonIconImage18">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 48 48"
                    class="abcRioButtonSvg">
                    <g>
                        <path fill="#EA4335"
                            d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z">
                        </path>
                        <path fill="#4285F4"
                            d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z">
                        </path>
                        <path fill="#FBBC05"
                            d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z">
                        </path>
                        <path fill="#34A853"
                            d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z">
                        </path>
                        <path fill="none" d="M0 0h48v48H0z"></path>
                    </g>
                </svg>
            </div>
        </div>
        <span style="font-size:13px;line-height:34px;" class="abcRioButtonContents"><span
                id="not_signed_inxzshf1so36g9">Sign in</span>
            <span id="connectedxzshf1so36g9" style="display:none">Signed in</span>
        </span>
    </div> -->