<div class="view">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-6 text-center">
                <form class="text-center p-5" action="#!">
                    <div class="d-flex mb-3">
                        <div class="btn btn-link bottons btn-outline-light text-white bg-transparent btn-lg w-100 mr-1 "
                            data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne" (click)="student_register()">
                            Login
                        </div>
                        <div class="btn btn-link btn-signup bg-transparent text-white buttons  btn-outline-light 
                                btn-lg w-100 ml-1 " data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="true" aria-controls="collapseTwo">
                            SignUp
                        </div>
                    </div>
                    <input type="email" id="defaultLoginFormEmail" class="form-control inputRadius mb-4"
                        placeholder="E-mail">
                    <input type="password" id="defaultLoginFormPassword" class="form-control inputRadius mb-4"
                        placeholder="Password">
                    <input type="password" id="defaultLoginFormRepeatPassword" class="form-control inputRadius mb-4"
                        placeholder="Repeat Password">
                    <div class="custom-control text-left custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultLoginFormTerms">
                        <label class="custom-control-label text-white" for="defaultLoginFormTerms">I agree to
                            the terms and
                            conditions
                        </label>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block my-4" type="submit">SIGN IN</button>
                    <div class="d-flex text-primary">
                        <div class="w-100 mr-1">-</div>
                        <div class="text-white">Or</div>
                        <div class="w-100 mr-1">-</div>
                    </div>
                    <div class="d-flex mt-3">
                        <a type="button" class="btn btn-fb  btn-lg w-100 bg-white mr-1 ">
                            <i class="fa fa-facebook fa-lg text-primary" aria-hidden="true"></i>
                        </a>
                        <a type="button" class="btn-floating btn-google bg-white ml-1 btn-lg w-100">
                            <i class="fa fa-google fa-lg text-primary" aria-hidden="true"></i>
                        </a>
                    </div>
                    <p class="text-white mt-5">Copyright &copy; 2019 <span>eTutor</span></p>
                </form>
            </div>
            <div class="col-md-6 text-white text-center p-5">
                <div class="d-flex display-2"><span class="font-weight-bold font-italic">e</span>TUTOR</div>
                <div class="display-4 text-left">Learn with India's best Titors wherever you live</div>
            </div>
        </div>
    </div>
</div>