<div class="test py-3"></div>
<div class="container my_courses mb-4 py-4 p-0">
    <mat-toolbar class="my_title bg-white">
        <p class="cources m-0 p-3">Payments</p>
    </mat-toolbar>

    <div class="card">
        <div class="col-md-12 d-flex adj_border">
            <div class="col-md-6">
                <p class="course mb-0">Courses Details</p>
            </div>
            <div class="col-md-3">
                <p class="course mb-0">Amount</p>
            </div>
            <div class="col-md-3">
                <p class="course mb-0">Status</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="col-md-12 d-flex second_item">
            <div class="col-md-6 d-flex">
                <div class="col-md-7 p-0">
                    <p class="learning mb-1">Machine Learning/Deep Learning</p>
                    <p class="represent mb-1">By : Ramakrashna Reddy</p>
                    <p class="from_date mb-0">Class from 02/12/2019 to 16/12/2019</p>
                </div>
                <div class="col-md-5 pl-0">
                    <p class="duration mb-0">Duration 10 Hrs</p>
                </div>
            </div>
            <div class="col-md-3">
                <p class="learning mb-1">Rs. 25,000</p>
            </div>
            <div class="col-md-3">
                <p class="learning mb-1">Paid</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="col-md-12 d-flex second_item">
            <div class="col-md-6 d-flex">
                <div class="col-md-7 p-0">
                    <p class="learning mb-1">Machine Learning/Deep Learning</p>
                    <p class="represent mb-1">By : Ramakrashna Reddy</p>
                    <p class="from_date mb-0">Class from 02/12/2019 to 16/12/2019</p>
                </div>
                <div class="col-md-5 pl-0">
                    <p class="duration mb-0">Duration 10 Hrs</p>
                </div>
            </div>
            <div class="col-md-3">
                <p class="learning mb-1">Rs. 25,000</p>
            </div>
            <div class="col-md-3">
                <p class="learning mb-1">Paid</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="col-md-12 d-flex second_item">
            <div class="col-md-6 d-flex">
                <div class="col-md-7 p-0">
                    <p class="learning mb-1">Machine Learning/Deep Learning</p>
                    <p class="represent mb-1">By : Ramakrashna Reddy</p>
                    <p class="from_date mb-0">Class from 02/12/2019 to 16/12/2019</p>
                </div>
                <div class="col-md-5 pl-0">
                    <p class="duration mb-0">Duration 10 Hrs</p>
                </div>
            </div>
            <div class="col-md-3">
                <p class="learning mb-1">Rs. 25,000</p>
            </div>
            <div class="col-md-3">
                <p class="learning mb-1">Paid</p>
            </div>
        </div>
    </div>
    <div class="extra_bpttom"></div>
</div>