.my_courses{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #12c2f5;
}
.cources{
    width: 100%;
    border-bottom: 1px solid #ececec;
    color: #12c2f5;
}
.form-control{
    border-radius: 0% ;
    background: #F1F8FD;
}
label{
    font-weight: 500;
color: #12c2f5;
}
.brcket{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.register{
    border-radius: 30px;
}