<div class="test py-3"></div>
<div class="container my_courses mb-4 py-4 p-0">
    <mat-toolbar class="my_title bg-white">
        <p class="cources m-0 p-3">Tutor Registration</p>
    </mat-toolbar>
    <div class="col-md-12">
        <div class="tutor d-flex">
            <div class="col-md-6 pt-3">
                <form>
                    <div class="form-group">
                        <label for="exampleInput">Name</label>
                        <input type="Name" class="form-control"  aria-describedby="emailHelp"
                            placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">E-mail</label>
                        <input type="Email" class="form-control"  placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Password</label>
                        <input type="password" class="form-control"  placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Phone</label>
                        <input type="Phone" class="form-control"  placeholder="Enter Phone Number">
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Address</label>
                        <input type="Address" class="form-control"  placeholder="Enter Address">
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Location</label>
                        <input type="location" class="form-control"  placeholder="Enter Location">
                    </div>
                    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                </form>
            </div>
            <div class="col-md-6 pt-3">
                <form>
                    <div class="form-group">
                        <label for="exampleInput">Name</label>
                        <input type="Name" class="form-control"  aria-describedby="emailHelp"
                            placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">E-mail</label>
                        <input type="Email" class="form-control"  placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Password</label>
                        <input type="password" class="form-control"  placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Phone</label>
                        <input type="Phone" class="form-control"  placeholder="Enter Phone Number">
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Address</label>
                        <input type="Address" class="form-control"  placeholder="Enter Address">
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Location</label>
                        <input type="location" class="form-control"  placeholder="Enter Location">
                    </div>
                </form>
            </div>
        </div>
        <div class="brcket">
            <button type="submit" class="btn btn-primary register">REGISTER</button>
        </div>
    </div>
</div>